
/*end of query*/

.local{

  position: absolute;
  top:90px;
  right:490px;
}
.branch {

  position: absolute;
  top: 90px;
  right: 40px;
}


.update{

  margin-top: 50px;
}

body{
  background:#EFF5FB;


}
h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}
h3{
  background: black;
  color:white;
  border:1px solid;
  width: 300px;
  text-align: center;
}
dt{
  font-size: 20px;
  width: 350px;
}
dd{
  font-size: 20px;
  background: #CEF6EC;
  width:350px;
}
dl{

}
